@charset "UTF-8";

/* 共通部分
---------------------*/
html {
    font-size: 100%;
}
body {
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Zen Maru Gothic', sans-serif;
    color: rgb(66, 69, 71);
}

h1,
h2 {
    text-align: center;
    margin-bottom: 30px;
}
a {
    text-decoration: none;
}
ul {
    list-style-position: inside;
}
li {
    margin-bottom: 5px;
    padding: 5px;
    position: relative;
    list-style-type: none!important;/*ポチ消す*/
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin-bottom: 5px;
    line-height: 1.5;
    background: #dbebf8;
    vertical-align: middle;
    color: #505050;
    border-radius: 15px 0px 0px 15px;/*左側の角丸く*/
}
ol li {
    color: black;
    border-left: solid 8px orange;/*左側の線*/
    background: whitesmoke;/*背景色*/
    margin-bottom: 5px;/*下のバーとの余白*/
    line-height: 1.5;
    border-radius: 0 15px 15px 0;/*右側の角だけ丸く*/
    padding: 0.5em;
    list-style-type: none!important;
}
ol {
    padding: 0;
}
li:before{ 
  display:inline-block; 
  vertical-align: middle;
  /*以下白丸つくる*/
  content:'';
  width:1em;
  height: 1em;
  background: #fff;
  border-radius: 50%;
  margin-right: 8px;
}


.wrapper {
    width: 800px;
    margin: 30px auto;
    padding: 40px 50px;
    border: 1px solid #dfdfdc;
    border-radius: 5px;
}

.errors {
    color: #ed2222;
    background-color: #f0cdcd;
    list-style: none;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px 20px;
}

/* フォーム */
input[type="text"] {
    border: 1px solid #b8b4b4;
    border-radius: 3px;
    width: 100%;
    padding: 10px;
}

/* ボタン */
.btn {
    color: #fff;
    border-radius: 5px;
    text-align: center;
}
.btn:hover {
    background-color:#93d8d0;
}
.submit-btn,
.return-btn {
    width: 100%;
    margin-top: 20px;
    padding: 5px 0;
    letter-spacing: 1.5rem;
    text-indent: 1.5rem;
}

.submit-btn {
    background-color: #4394eb;
}
.return-btn {
    display: block;
    background-color: #f5b781;
}

.done-btn,
.edit-btn,
.delete-btn,
.cancel-btn {
    font-size: 0.9rem;
    margin-right: 3px;
    padding: 5px;
}
.done-btn {
    background-color: #29cd70;
}
.edit-btn {
    background-color: rgb(47, 147, 240);
}
.delete-btn {
    background-color: #f96262;
}
.cancel-btn {
    background-color: #88109b;
}

/* 商品一覧画面 
-----------------------*/

/* 商品登録フォーム */
.new-task {
    margin-bottom: 60px;
}

/* 販売商品一覧 */
.notyet-task {
    margin-bottom: 60px;
}
.notyet-task h2 {
    background: linear-gradient(transparent 70%, #fee9a4 70%);
}

/* 売り切れ商品一覧 */
.done-task {
    margin-top: 30px;
    margin-bottom: 60px;
}
.done-task h2 {
    background: linear-gradient(transparent 70%, #edbbfa 70%);
}